.login-page {
  background-image: url('https://wallpapershome.com/images/pages/pic_h/386.jpg'); /* add your own background image URL */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062a3;
}

.forgot-password a {
  color: #3498db;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password a:hover {
  color: #2980b9;
}

